body{
  background: #fafafa;
}


.iframe{
  text-align: center;
}

#test1,#test2{
  width: 900px;
  margin: 20px auto;
  background: #fff;
  border: 1px solid #ccc;
  border-radius:10px;
  font-size: 14px;
  color: #333;
}

h1{
  text-align: center;
}
h2{
  padding-left: 20px;
}

.line{
  border: 1px solid #eee;
  padding: 20px;
}
.head{
  background: #fafafa;
}

input[type="text"]{
  padding: 5px;
  border-radius: 5px;
  width: 100px;
  margin-left: 10px;
}